body {
  margin: 0;
  padding: 0;

  background: #262c48;
  color: white;

  font-family: "Roboto";
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 10vh;
}

header img {
  height: 100%
}

main {
  height: 90vh;
  padding: 0 10px;
}

.question-number {
  color: #a1a7c5;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.bg-loading {
  width: 80%;
  height: 20px;
  background: #0b0d17;
  margin: auto;

  display: flex;
  justify-content: flex-end;

  border-radius: 10px;
}

.loading {
  height: 20px;

  display: flex;
  justify-content: flex-end;
  align-items: center;

  border-radius: 10px;
}

.loading span {
  margin-right: 5px;
}

.gradient {
  background: linear-gradient(90deg, rgba(221,61,119,1) 0%, rgba(241,78,67,1) 100%); 
}

.question-text {
  color: white;
  font-weight: bold;
  font-size: 25px;
  text-align: center;

  width: 90%;
  margin: auto;
  
  padding: 50px 0;
}

.answers a {
  background: #181d31;
  
  display: block;
}

.button {
  color: white;
  font-size: 20px;
  
  padding: 12px 18px;
  margin: 10px;
  border-radius: 15px;

  display: inline-block;

  border: 2px solid #4b516c;
  
  text-decoration: none;
}

.next {
  text-align: right;
}